@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #8c8c8c;
}

@media print {
  header, nav, #grid-overlay, #ai-chat-widget, .no-print {
    display: none !important;
  }
  body {
    background: white !important;
    color: black !important;
  }
}
